$black-color: #181818;
$black-background-color: #000000;
$white-color: #fff;
$silver-color: #c0c0c0;

$fw-400: 400;
$fw-600: 600;

$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-23: 23px;
$fs-24: 24px;
$fs-28: 28px;
$fs-38: 38px;
$fs-40: 40px;
$fs-54: 54px;

$lh-100: 100%;
$lh-105: 105%;
$lh-110: 110%;
$lh-114: 114%;
$lh-125: 125%;
$lh-130: 130%;
$lh-133: 133%;
$lh-143: 143%;
$lh-154: 154%;

@mixin font-style($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}


@mixin between-screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}