@import "variables";

@mixin between-screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

.about {
  background-image: url("../img/background-image.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 0 41px;
  @include between-screen(375px, 768px) {
    padding: 0 0 20px;
  }
  .container {
    justify-content: center;
  }
  .about-info {
    display: flex;
    padding: 441px 420px 14px 420px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      @include font-style(
        $base-font-weight,
        $paragraph-font-size,
        $paragraph-line-height
      );
      letter-spacing: 0.14em;
      text-transform: uppercase;
      text-align: center;
      max-width: 263px;
      color: $silver-color;
    }
    h1 {
      @include font-style($base-font-weight, $h1-font-size, $h1-line-height);
      text-align: center;
      min-width: 463px;
      color: $white-color;
      margin: 0 0 18px;
      @include between-screen(375px, 768px) {
        font-size: 38px;
      }
    }
    p {
      @include font-style(
        $base-font-weight,
        $paragraph-font-size,
        $paragraph-line-height
      );
      text-align: center;
      min-width: 580px;
      color: $silver-color;
      @include between-screen(375px, 430px) {
        @include font-style(
          $base-font-weight,
          $base-font-size,
          $paragraph-line-height
        );
        width: 80%;
        min-width: 200px;
      }
      @include between-screen(431px, 650px) {
        width: 90%;
        min-width: 430px;
      }
    }
  }
  .icons {
    ul {
      display: flex;
      gap: 16px;
      justify-content: end;
      position: relative;
      right: 40px;
      @include between-screen(375px, 1225px) {
        position: static;
        justify-content: center;
      }
    }
    .icon-item {
      display: flex;
      gap: 6px;
      @include font-style(
        $base-font-weight,
        $base-font-size,
        $base-line-height
      );
      color: $white-color;
      svg {
        order: -1;
      }
    }
  }
}
