footer {
  background-color: #000000;
  padding: 0 0 60px;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer {
    padding: 12px 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  footer {
    padding: 0 0 20px;
  }
}
footer .container {
  display: inherit;
}
footer .footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 0 36px;
  flex-wrap: wrap;
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-logo {
    padding: 36px 0 36px;
  }
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-logo .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 920px) and (max-width: 1225px) {
  footer .footer-logo {
    justify-content: space-around;
  }
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-logo {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-logo a svg {
  margin: 0 0 20px;
}
footer p {
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #c0c0c0;
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer p {
    margin: 0 0 20px;
    text-align: center;
  }
}
footer .footer-miscellaneous {
  display: flex;
  gap: 55px;
  padding: 0 80px 0 0;
}
@media screen and (min-width: 375px) and (max-width: 1225px) {
  footer .footer-miscellaneous {
    padding: 0;
  }
}
footer .footer-miscellaneous ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-miscellaneous li {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  color: #c0c0c0;
}
footer .footer-miscellaneous li:first-of-type {
  text-transform: uppercase;
}
footer .footer-miscellaneous a {
  font-weight: 400;
  font-size: 13px;
  line-height: 143%;
  color: #fff;
}
footer .footer-newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 40px;
  margin: 0 0 56px;
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 375px) and (max-width: 920px) {
  footer .footer-newsletter {
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 920px) and (max-width: 1225px) {
  footer .footer-newsletter {
    justify-content: space-around;
  }
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-newsletter .newsletter-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .footer-newsletter h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 20px;
}
footer .footer-newsletter p {
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #c0c0c0;
}
footer .footer-newsletter .newsletter-form {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 6px 0;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 390px;
  max-width: 390px;
  min-height: 52px;
  background-color: #fff;
}
@media screen and (min-width: 375px) and (max-width: 500px) {
  footer .footer-newsletter .newsletter-form {
    max-width: 360px;
  }
}
footer .footer-newsletter .newsletter-form input {
  display: inline-flex;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 11px;
  min-width: 63px;
  min-height: 30px;
}
footer .footer-newsletter .newsletter-form button {
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 11px;
  min-width: 63px;
  min-height: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #fff;
  background-color: #000000;
}
footer .footer-newsletter .newsletter-form button:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}
footer .footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 920px) and (max-width: 1225px) {
  footer .footer-copyright {
    justify-content: space-around;
  }
}
@media screen and (min-width: 375px) and (max-width: 919px) {
  footer .footer-copyright {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
footer ul {
  display: flex;
  gap: 20px;
}
footer ul li > a > svg:hover {
  scale: 1.5;
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=footer.css.map */