@import "variables";

.gears {
  @include between-screen(375px, 1225px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black-background-color;
    @include between-screen(375px, 768px) {
      padding: 12px;
    }
  }
  .container-gears {
    display: flex;
    @include between-screen(375px, 1225px) {
      flex-direction: column;
      align-items: center;
      height: 100vh;
      background-color: $black-background-color;
    }
  }
  .gear-tools {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: linear-gradient(
      to right,
      $black-background-color 100vw,
      transparent 50%
    );
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    max-height: 540px;
    padding: 0 0 0 100px;
    flex: 0 1 50%;
    @include between-screen(375px, 768px) {
      align-items: center;
      padding-left: 0;
    }
    @include between-screen(769px, 1225px) {
      padding: 10px 0;
      align-items: center;
    }
    h4 {
      letter-spacing: 0.14em;
      text-transform: uppercase;
      font-size: clamp($fs-10, $vw-5, $fs-14);
      @include font-style($fw-400, $lh-143);
      color: $silver-color;
      margin: 0 0 6px;
    }
    h5 {
      font-size: clamp($fs-18, $vw-5, $fs-28);
      @include font-style($fw-400, $lh-114);
      color: $white-color;
      margin: 0 0 14px;
    }
    p {
      font-size: clamp($fs-10, $vw-5, $fs-14);
      @include font-style($fw-400, $lh-143);
      color: $white-color;
      max-width: 514px;
      margin: 0 0 20px;
      @include between-screen(375px, 520px) {
        max-width: 400px;
      }
      @include between-screen(375px, 1225px) {
        text-align: center;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 14px;
      max-width: 143px;
      max-height: 42px;
      background-color: white;
      padding: 5px 10px 5px 5px;
      color: $black-background-color;
      font-size: clamp($fs-10, $vw-5, $fs-15);
      @include font-style($fw-400, $lh-133);
      svg {
        order: -1;
      }
      &:hover {
        scale: 1.1;
        transition: 0.5s ease-in;
      }
    }
  }
  .icons {
    background-image: url("../img/cameras.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    max-height: 540px;
    max-width: 100vw;
    display: flex;
    flex: 1 1 50%;
    justify-content: end;
    align-items: end;
    padding: 0 0 20px;
    position: relative;
    @include between-screen(375px, 1225px) {
      justify-content: end;
      align-items: center;
      width: 90vw;
    }
  }
}
