.info {
  padding: 120px 0 100px 0;
  background-color: #000000;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .info {
    padding: 60px 12px 50px 12px;
  }
}
.info .container {
  display: inherit;
  background-color: #000000;
}
.info .info-title {
  width: 100%;
  text-align: center;
}
.info .info-title h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  color: #fff;
  margin: 0 0 15px;
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .info .info-title h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
  }
}
.info .info-title p {
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  color: #c0c0c0;
  margin: 0 0 42px;
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .info .info-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}
.info .info-read {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1168px;
  gap: 16px 0;
}
@media screen and (min-width: 375px) and (max-width: 1166px) {
  .info .info-read {
    justify-content: center;
  }
}
@media screen and (min-width: 1166px) and (max-width: 1180px) {
  .info .info-read {
    gap: 16px;
    justify-content: center;
  }
}
.info .info-read article {
  padding: 0 32px 30px 32px;
  flex: 1 1 576px;
}
@media screen and (min-width: 375px) and (max-width: 1185px) {
  .info .info-read article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.info .info-read article h4 {
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 0 0 10px;
}
.info .info-read article p {
  color: #c0c0c0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 0 0 17px;
}
@media screen and (min-width: 375px) and (max-width: 1180px) {
  .info .info-read article p {
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
  }
}
.info .info-read article a {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 14px;
  max-width: 143px;
  max-height: 42px;
  background-color: white;
  padding: 5px 10px 5px 5px;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
}
.info .info-read article a svg {
  order: -1;
}
.info .info-read article a:hover {
  scale: 1.1;
  transition: 0.5s ease-in;
}
.info .info-read article:first-of-type {
  padding-top: 380px;
  background-image: url("../img/product_photography.webp");
  background-size: cover;
  max-width: 576px;
  height: 65vh;
  max-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 375px) and (max-width: 599px) {
  .info .info-read article:first-of-type {
    padding-top: 380px;
  }
}
.info .info-read article:nth-of-type(2) {
  padding-top: 380px;
  background-image: url("../img/architecture-photography.webp");
  background-size: cover;
  max-width: 576px;
  height: 65vh;
  max-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 375px) and (max-width: 599px) {
  .info .info-read article:nth-of-type(2) {
    padding-top: 360px;
  }
}
.info .info-read article:nth-of-type(3) {
  padding-top: 365px;
  background-image: url("../img/drone-photography.webp");
  background-size: cover;
  max-width: 576px;
  height: 65vh;
  max-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 375px) and (max-width: 599px) {
  .info .info-read article:nth-of-type(3) {
    padding-top: 345px;
  }
}
.info .info-read article:last-of-type {
  padding-top: 365px;
  background-image: url("../img/wildlife-photography.webp");
  background-size: cover;
  max-width: 576px;
  height: 65vh;
  max-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 375px) and (max-width: 599px) {
  .info .info-read article:last-of-type {
    padding-top: 345px;
  }
}/*# sourceMappingURL=info.css.map */