@import "variables";

.info {
  padding: 120px 0 100px 0;
  @include between-screen(769px, 950px) {
    padding: 40px 0 40px 0;
  }
  @include between-screen(375px, 768px) {
    padding: 25px 12px 25px 12px;
  }
  background-color: $black-background-color;
  .container {
    display: inherit;
    background-color: $black-background-color;
  }
  .info-title {
    width: 100%;
    text-align: center;
    h2 {
      @include font-style($fw-400, $fs-40, $lh-105);
      color: $white-color;
      margin: 0 0 15px;
      @include between-screen(375px, 430px) {
        @include font-style($fw-400, $fs-38, $lh-110);
      }
    }
    p {
      @include font-style($fw-400, $fs-23, $lh-130);
      color: $silver-color;
      margin: 0 0 42px;
      @include between-screen(375px, 430px) {
        @include font-style($fw-400, $fs-16, $lh-130);
      }
      @include between-screen(375px, 768px) {
        margin: 0 0 15px;
      }
    }
  }
  .info-read {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1168px;
    gap: 16px 0;
    @include between-screen(375px, 1166px) {
      justify-content: center;
    }
    @include between-screen(1166px, 1180px) {
      gap: 16px;
      justify-content: center;
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 0 30px 30px 32px;
      flex: 1 1 576px;
      max-width: 576px;
      height: 65vh;
      max-height: 600px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      @include between-screen(375px, 1185px) {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        padding: 0 15px 30px 15px;
      }
      h4 {
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: $white-color;
        @include font-style($fw-400, $fs-14, $lh-143);
        margin: 0 0 10px;
      }
      p {
        @include between-screen(375px, 1180px) {
          @include font-style($fw-400, $fs-12, $lh-143);
        }
        color: $silver-color;
        @include font-style($fw-400, $fs-14, $lh-143);
        margin: 0 0 17px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 14px;
        max-width: 143px;
        max-height: 42px;
        background-color: white;
        padding: 5px 10px 5px 5px;
        color: $black-background-color;
        @include font-style($fw-400, $fs-15, $lh-133);
        svg {
          order: -1;
        }
        &:hover {
          scale: 1.1;
          transition: 0.5s ease-in;
        }
      }
    }
    article:first-of-type {
      background-image: url("../img/product_photography.webp");
    }
    article:nth-of-type(2) {
      background-image: url("../img/architecture-photography.webp");
    }
    article:nth-of-type(3) {
      background-image: url("../img/drone-photography.webp");
    }
    article:last-of-type {
      background-image: url("../img/wildlife-photography.webp");
    }
  }
}
