@import "_variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: column;
  position: relative;
  ul {
    display: flex;
    gap: 16px;
    justify-content: end;
    position: absolute;
    right: 40px;
    min-width: 400px;
    @include between-screen(375px, 1225px) {
      position: static;
      justify-content: center;
    }
    li {
      display: flex;
      gap: 6px;
      font-size: clamp($fs-10, $vw-5, $fs-12);
      @include font-style($fw-400, $lh-100);
      color: $white-color;
      &:first-of-type::before {
        content: "";
        background-image: url("../img/time-icon.svg");
        display: inline-block;
        width: 16px;
        height: 16px;
      }
      &:nth-of-type(2)::before {
        content: "";
        background-image: url("../img/circle-icon.svg");
        display: inline-block;
        width: 16px;
        height: 16px;
      }
      &:nth-of-type(3)::before {
        content: "";
        background-image: url("../img/iso-icon.svg");
        display: inline-block;
        width: 32px;
        height: 16px;
      }
      &:last-of-type::before {
        content: "";
        background-image: url("../img/location-icon.svg");
        display: inline-block;
        width: 10px;
        height: 16px;
      }
    }
  }
}

.circle::before {
  content: "";
  display: inline-flex;
  min-height: 32px;
  min-width: 32px;
  background-color: $black-background-color;
  border-radius: 100%;
}

@import url("header.css");

@import url("about.css");

@import url("info.css");

@import url("sunset.css");

@import url("gears.css");

@import url("leafs.css");

@import url("clients.css");

@import url("mountains.css");

@import url("help.css");

@import url("footer.css");
